services:
  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "postgres"
    volumes:
      - "postgresdb:/var/lib/postgresql/data"

  adminer:
    image: adminer
    ports:
      - 4001:8080

  app:
    build: .
    command: bun run dev
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=postgres
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=postgres
      - JWT_SECRET=devsecret
    volumes:
      - .:/app
    depends_on:
      - postgres

volumes:
  postgresdb:
